:host {
  width: 50%;
  display: flex;
}

.example-container {
  height: 700px;
  overflow: auto;
  width: 100%;

}

table {
  width: 100%;
}
td{
  text-align: center;
}
.mat-header-cell{
  text-align: center;
}

button{
   background-color: 	#87CEFA;
 }
