@import "../../../../../assets/styles/variables";

:host {
  width: 50%;
  display: flex;
}

.example-container {
  height: 700px;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;

}

.mat-cell {
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.mat-flat-button {
  background-color: $lightblue;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
}
