<div class="example-container mat-elevation-z8" [ngClass]="{preloader: !dataSourceLength}">
  <mat-progress-spinner
    *ngIf="!dataSourceLength"
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
  <table *ngIf="dataSourceLength" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Parking name</th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
    <ng-container matColumnDef="FreeSpaceShort">
      <th mat-header-cell *matHeaderCellDef> Availability</th>
      <td mat-cell *matCellDef="let element"
          [ngStyle]="{'color': element.FreeSpaceLong | setTextFreeSpaceColor}"> {{element.FreeSpaceLong | setTextFreeSpaceLong}} </td>
    </ng-container>
    <ng-container matColumnDef="FreeSpaceLong">
      <th mat-header-cell *matHeaderCellDef> Number of free spaces</th>
      <td mat-cell *matCellDef="let element"> {{element.FreeSpaceLong}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-flat-button (click)="openDialog(row)">Show on map</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row;
        columns: displayedColumns;">
    </tr>
  </table>
</div>
